<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value ="${jc.write.jdbc.driver}"/>
        <property name="url"  value ="${jc.write.jdbc.url}"/>
        <property name="username" value ="${jc.write.jdbc.username}"/>
        <property name="password" value ="${jc.write.jdbc.password}"/>
    </bean>
    <bean id="readDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value ="${jc.read.jdbc.driver}"/>
        <property name="url"  value ="${jc.read.jdbc.url}"/>
        <property name="username" value ="${jc.read.jdbc.username}"/>
        <property name="password" value ="${jc.read.jdbc.password}"/>
    </bean>
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sql-map-config.xml" />
    </bean>

    <!-- 事务 -->
    <!--<bean id="transactionManager"-->
    <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--<property name="dataSource" ref="dataSource" />-->
    <!--</bean>-->
</beans>



